# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
wheels/

# Sanal ortamlar
.venv/
venv/
env/

# Arac onbellekleri
.ruff_cache/
.mypy_cache/
.pytest_cache/

# IDE
.idea/
.vscode/
*.iml

# Isletim sistemi
.DS_Store
Thumbs.db

# Uygulama ciktilari
*.log
